.idea/
__pycache__
dispatch-demo/dispatch-demo.iml
dispatch-server/dispatchserver.iml
dispatch-demo-py/dispatch-demo-py.iml
dispatch-demo-py/venv
dispatch-demo-go/dispatch-demo-go.iml
target/
dispatch-api/target
dispatch-demo/target
dispatch-server/target
*.iml
dispatch-demo-go/go.sum

.DS_Store
dispatch-demo-py/demo/__init__.pyc
dispatch-demo-py/demo/dto.pyc
jdk11.tar.gz
go1.14.1.linux-amd64.tar.gz
dispatch-demo-py/build/
dispatch-demo-go/dispatch-demo-go
